<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/events/edit.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <div>Event Name: <%= event.name %> </div><br>
  <div>Details: <%= event.details %> </div><br>
  <div>Date: <%= event.date.toLocaleDateString() %> <%= event.date.toLocaleTimeString()
    %> </div><br>
  <div>Location: <%= event.location %> </div><br>
    <form action="/events/<%= event._id %>?_method=PUT" method="POST">
      <label for="name">Event-Name</label>
      <input type="text" name="name" value= '<%= event.name %>'>
      <label for="details">Details:</label>
      <textarea id= '<%= event.details %>' name="details" rows="4"></textarea>
      <label for="date">Date</label>
      <input value= <%= event.date %> type="datetime-local" name="date">
      <label for="location">Location</label>
      <input value= '<%= event.location %>' type="text" name="location">
      <button type="submit">Update-Event</button>
    </form>
  </main>
  
<%- include('../partials/footer') %>