<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/events/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>EVENTS</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Date/Time</th>
        <th>Location</th>
        <th>Details</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% events.forEach(event => { %>
      <tr>
      <td><%= event.name %> </td>
      <td><%= event.date %> </td>
      <td><%= event.location %> </td>
      <td><a href="/events/<%= event._id %>">Details</a> </td>
      </tr>
    <% }) %> 
    </tbody>
  </table>
  <% if (user) { %>
    <form action="/events/" method="POST">
    </form>
  <% } %>
  <button type="button" class="btn btn-success"><a href="/events/new" id="add-event">Add Event</a></button>
  </main>

<%- include('../partials/footer') %>