<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div>Event Name: <%= event.name %></div>
  <br />
  <div>Details: <%= event.details %></div>
  <br />
  <div>Date: <%= event.date %></div>
  <br />
  <div>Location: <%= event.location %></div>
  <br />
  <div>Attendance:</div>
  <ul>
    <% event.attend.forEach(attendee => { %>
    <li><%= attendee.name %></li>
    <% }) %>
  </ul>
  <form
    action="/events/<%= event._id %>/profiles/<%= user.profile._id%>?_method=PUT"
    method="POST"
  >
    <button type="submit">
      <%= event.attend.some(attendee => attendee._id.equals(user.profile._id))?
      `Not Attend` : `Attend` %>
    </button>
  </form>
  <h2>Comments</h2>
  <form
    id="add-review-form"
    action="/events/<%= event._id %>/comments"
    method="POST"
  >
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>

  <% if (event.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      
      <% event.comments.forEach(function(comment) { %>
      <tr>
        <td>
          <form
            action="/events/<%= event._id %>/comments/<%= comment._id%>?_method=DELETE"
            class="delete-flight"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
        </td>
        <td><%= comment.createdAt.toLocaleDateString() %></td>
        <td><%= comment.content %></td>
        <td><%= comment.owner %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %> <% if (event.owner.equals(user?.profile._id)) { %>
  <a href="/events/<%= event._id %>/edit">Edit Event</a>
  <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
  <% } %>
</main>

<%- include('../partials/footer') %>
