<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/events/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div id="details">
  <div><strong>Event Name:</strong></div> 
  <div><%= event.name %></div>
  <br />
  <div><strong>Details:</strong></div> 
  <div><%= event.details %></div>
  <br />
  <div><strong>Date/Time</strong></div> 
  <div><%= event.date.toLocaleDateString() %> <%= event.date.toLocaleTimeString() %> </div>
  <br />
  <div><strong>Location</strong></div> 
  <div><%= event.location %></div>
  <br />
  <div><strong>Attendance:</strong></div>
</div>
  <ul>
    <% event.attend.forEach(attendee => { %>
    <li><%= attendee.name %></li>
    <% }) %>
  </ul>
  <form
    action="/events/<%= event._id %>/profiles/<%= user.profile._id%>?_method=PUT"
    method="POST"
  >
    <button type="submit" class="btn btn-dark">
      <%= event.attend.some(attendee => attendee._id.equals(user.profile._id))?
      `Do Not Attend` : `Attend` %>
    </button>
  </form>
  <form
    id="add-review-form"
    action="/events/<%= event._id %>/comments"
    method="POST"
  >
    <label for="content-textarea">Comment:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <button type="submit" class="btn btn-secondary">Add Comment</button>
  </form>

  <% if (event.comments.length) { %>
  <table>
    <tbody>
      <% event.comments.forEach(function(comment) { %>
        
      <tr>
        <% if (comment.owner.equals(user?.profile._id)) { %>
        <td>
          <form
            action="/events/<%= event._id %>/comments/<%= comment._id%>?_method=DELETE"
            class="delete-flight"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
        </td>
        <% } %>
        <td><%= comment.content %></td>
        <td><%= comment.createdAt.toLocaleDateString() %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %> <% if (event.owner.equals(user?.profile._id)) { %>
  <button type="submit" class="btn btn-primary"><a href="/events/<%= event._id %>/edit">Edit Event</a></button>
  <form action="/events/<%= event._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <% } %>
</main>

<%- include('../partials/footer') %>
